<footer>
    <div class="f-info">
        <div class="f-social">
            <i class="fo-brands fa-brands fa-square-facebook"></i>
            <i class="fo-brands fa-brands fa-linkedin"></i>
            <i class="fo-brands fa-brands fa-square-instagram"></i>
        </div>
        <div class="f-brand" >&copy;WonderStay private limited </div>
        <div class="f-links">
            <a href="/Private">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>